<a
  class="nav-link"
  routerLink="/signUp"
  routerLinkActive="active"
  *ngIf="!isAuthenticated"
  >Sign up</a
>
<a
  class="nav-link"
  routerLink="/signIn"
  routerLinkActive="active"
  *ngIf="!isAuthenticated"
  >Sign in</a
>
<a
  class="nav-link"
  routerLink="/profile"
  routerLinkActive="active"
  *ngIf="isAuthenticated"
  >Profile</a
>

<a
  class="nav-link"
  routerLink="/admin"
  routerLinkActive="active"
  *ngIf="isAuthenticated"
  >Admin</a
>

<a class="nav-link" routerLink="" (click)="signOut()" *ngIf="isAuthenticated"
  >Sign out</a
>

<router-outlet></router-outlet>
