<label for="name">Name:</label>
<input
  id="name"
  name="name"
  type="text"
  placeholder="Name"
  [(ngModel)]="candidate.name"
/>

<label for="rating">Rating:</label>
<input
  id="emratingail"
  name="rating"
  type="number"
  placeholder="Rating"
  [(ngModel)]="candidate.rating"
/>

<label for="city">City:</label>
<input
  id="city"
  name="city"
  type="text"
  placeholder="City"
  [(ngModel)]="candidate.city"
/>

<label for="salary">Salary:</label>
<input
  id="salary"
  name="salary"
  type="number"
  placeholder="Salary"
  [(ngModel)]="candidate.salary"
/>

<label for="file">Photo:</label>
<input id="file" name="file" type="file" (change)="onFileChange($event)" />

<button (click)="uploadFile()">Upload</button>
